.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;

  > img {
    position: absolute;
    left: 1rem;
    top: 1rem;
  }

  &__with-title {
    @extend .header;

    display: flex;

    justify-content: center;
    align-items: center;

    > h1 {
      font-size: 1.5rem;
      margin-top: 1.2rem;
    }
  }
}
