@import 'styles/button.scss';
@import 'styles/input.scss';
@import 'styles/colors.scss';
@import 'styles/keyframes.scss';
@import '../infrastructure/modules/modules.scss';

* {
  padding: 0;
  margin: 0;
  outline: 0;

  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
}
