@import 'styles/button.scss';
@import 'styles/input.scss';
@import 'styles/textarea.scss';
@import 'styles/colors.scss';
@import 'styles/keyframes.scss';
@import 'styles/variables.scss';
@import '../infrastructure/modules/modules.scss';

* {
  padding: 0;
  margin: 0;
  outline: 0;

  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
}

body {
  height: 100vh;
}

.position-static {
  position: static !important;
}

.page-action {
  position: fixed;
  bottom: 0;
  z-index: 1000000;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: var(--page-action-height);

  padding: 0rem 4rem;

  pointer-events: none;

  > * {
    animation: fadeIn 0.5s, fromBottom 0.6s cubic-bezier(0.6, -0.01, 0, 1.80);
    pointer-events: auto;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;

    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgb(255 255 255) 40%, rgba(0, 212, 255, 0) 100%);

    animation: fromBottom 0.4s cubic-bezier(0.6, -0.01, 0.6, 0.85);
  }
}
