<div
  class="spin-container"
  [class.with-backdrop]="hasBackdrop"
  [class.status-basic]="basic"
  [class.status-accent]="accent"
  [class.status-danger]="danger"
  [class.status-error]="error"
  [class.size-small]="small"
  [class.size-medium]="medium"
  [class.size-large]="large"
  [class.size-huge]="huge"
  [class.position-right]="right"
  [class.position-left]="left"
  [class.position-center]="center"
>
  <span class="spin-circle"></span>

  <span *ngIf="message" class="message">
    {{ message }}
  </span>
</div>
