:host {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100%;

  > input, > .input-with-suffix, > textarea, > app-pill-select {
    margin-bottom: 1.5rem;
  }

  > button {
    margin-top: auto;
    margin-bottom: 2rem;
  }
}
