<ng-container [formGroupName]="formGroupName">
  <!-- TODO: Datepicker -->
  <label for="birthDate" class="label__required">Data de nascimento</label>
  <input
    id="birthDate"
    class="input"
    type="birthDate"
    formControlName="birthDate"
  />

  <label for="diseaseHistory" class="label">Histórico de doenças, lesões e cirurgias</label>
  <input
    id="diseaseHistory"
    class="input"
    type="text"
    formControlName="diseaseHistory"
  />

  <label for="gender" class="label__required">Sexo</label>
  <app-pill-select [items]="genders" formControlName="gender"></app-pill-select>

  <button class="button" type="submit">Prosseguir</button>
</ng-container>
