<div class="page">
  <app-header title="Criar perfil"></app-header>

  <form [formGroup]="form" (ngSubmit)="nextStep()">
    <ng-container *ngIf="isAtBasicInformation">
      <app-basic-information-form
        [formGroup]="form.controls.basicInformation"
      ></app-basic-information-form>
    </ng-container>

    <ng-container *ngIf="isAtPersonalInformation">
      <app-personal-information-form
        [formGroup]="form.controls.personalInformation"
      ></app-personal-information-form>
    </ng-container>

    <ng-container *ngIf="isAtAddress">
      <app-address-information-form
        [formGroup]="form.controls.address"
        [isLoading]="isLoading"
      ></app-address-information-form>
    </ng-container>
  </form>
  <!-- TODO: Add button to go back a step -->
</div>
