.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  width: 100vw;
  overflow-y: auto;

  padding: 0 3rem {
    top: 5rem;
    bottom: 2rem;
  };

  form {
    width: 100%;
  }
}
