<div class="page">
  <app-header title="Criar perfil"></app-header>

  <form [formGroup]="form" (ngSubmit)="nextStep()">
    <ng-container *ngIf="isAtBasicInformation">
      <app-basic-information-form
        formGroupName="basicInformation"
      ></app-basic-information-form>
    </ng-container>

    <ng-container *ngIf="isAtPersonalInformation">
      <app-personal-information-form
        formGroupName="personalInformation"
      ></app-personal-information-form>
    </ng-container>
  </form>
</div>
