<div class="page">
  <img src="assets/images/logo.png" />

  <form [formGroup]="form" (submit)="login()">
    <label for="email" class="label">Email</label>
    <input
      id="email"
      class="input"
      autocomplete="email"
      formControlName="email"
    />

    <label class="label">Senha</label>
    <div class="password-input">
      <input
        id="password"
        class="input"
        formControlName="password"
        autocomplete="password"
        [type]="isShowingPassword ? 'text' : 'password'"
      />

      <img
        *ngIf="isShowingPassword"
        (click)="isShowingPassword = false"
        src="assets/icons/eye-off-outline.svg"
      />
      <img
        *ngIf="!isShowingPassword"
        (click)="isShowingPassword = true"
        src="assets/icons/eye-outline.svg"
      />
    </div>

    <button
      class="button"
      type="submit"
      [loadingSpinner]="isLoading"
      [loadingSpinnerBackdrop]="false"
      loadingSpinnerPosition="right"
    >
      Entrar
    </button>
  </form>

  <span>Primeiro acesso</span>
</div>
